*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
form{
    background-color: blue;
    box-shadow: white;
    padding: 1rem;
    margin: 1rem;
    width: 40vw;
    height: 50vh;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
form > div{
    height: 10vh;
}
input,label{
    font-size: 1rem;
}
input{
    height: 2rem;
}

